*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}

.card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
}

.button {
    --color: hsl(200, 50%, 50%);
    border: 1px solid var(--color);
    color: white;
    border-radius: .25em;
    background: var(--color);
    cursor: pointer;
    padding: .5em .75em;
}

.button:hover,
.button:focus {
    background-color: hsl(200, 50%, 60%);
}

.button.button-outline {
    color: var(--color);
    background: none;
    padding: .5em .75em;
    border: 1px solid var(--color);
    border-radius: .25em;
    cursor: pointer;
}

.button.button-outline:hover,
.button.button-outline:focus {
    background: hsl(200, 50%, 85%);
}

.button+.button.button-outline {
    margin-left: 0.25rem;
}